<article>
  <h1>학생정보 자세히 보기</h1>
</article>
<table>
  <thead>
    <tr>
      <th>학번</th>
      <th>이름</th>
      <th>학과</th>
      <th>학년</th>
      <th>전화번호</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
