table.today input {
  width: 60%;
  padding: 5px;
}

button.today {
  background-color: blue;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
}
button.today:hover {
  background-color: white;
  color: black;
}
