* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 4em;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #eee;
}

table {
  border-collapse: collapse;

  width: 80%;

  margin: 10px auto;
}

table.bbs.list td,
table.bbs.list th {
  text-align: left;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  white-space: nowrap;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  white-space: nowrap;
}

button.box {
  padding: 12px 0;
  text-align: right;
  margin: 5px auto;
}

button.insert {
  background-color: rgb(46, 190, 147);
  color: white;
  padding: 12px 16px;
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}

form.write {
  width: 80%;

  margin: 10px auto;
}

form.write fieldset {
  border-radius: 10px;
  background-color: white;
}

form.write div {
  width: 90%;
}

form.write legend {
  margin: 30px;
  padding: 10px;
  color: rgb(46, 190, 147);
  font-weight: 900;
}
form.write div {
  width: 90%;
  margin: 5px auto;
  display: flex;
}
form.write label,
form.write input,
form.write button {
  padding: 8px;
  margin: 3px;
}

form.write label {
  flex: 1;
  text-align: right;
  color: rgb(46, 190, 147);
  font-weight: bold;
  white-space: nowrap;
  user-select: none;
}

form.write input {
  flex: 3;
  border-radius: 5px;
  border: 1px solid #ddd;
}
form.write input[name="b_code"] {
  flex: 2;
}

div.button.box {
  justify-content: right;
}

div.button.box button {
  margin: 12px 3px 12px 10px;
  padding: 12px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button.input {
  background-color: rgb(46, 190, 147);
  color: white;
}

button.list {
  background-color: rgb(46, 190, 147);
  color: white;
}

button.reset {
  background-color: rgb(46, 190, 147);
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
}

section.main {
  flex: 1;
}

footer {
  background-color: rgb(2, 19, 77);
  color: white;
  padding: 0.8em;
  text-align: center;
}

/* mouse hove*/
input:hover {
  background-color: #eee;
}
/* mouse click, focus */
input:focus {
  background-color: #ddd;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  white-space: nowrap;
}

button.box {
  padding: 12px 0;
  text-align: right;
  margin: 5px auto;
}

button:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}
table {
  margin: 10px auto;
}

th,
td {
  white-space: nowrap;
  text-align: left;
  padding: 10px 16px;
}
th {
  background-color: rgb(46, 190, 147);
}

td {
  cursor: pointer;
}

article.detail div {
  padding: 8px;
  margin: 3px;
}

article.detail div:nth-of-type(2n) {
  background-color: #eee;
}
