doctype html
html
  head
    title 나라상사
    link(rel='stylesheet', href='/css/buyer.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/main.js")
    
  body
    header
      h1 나라상사 ERP 시스템 2022
    nav
      ul
        li Home
        li 주문관리
        li 결제관리
        li 거래처관리
        li 상품관리
        li 로그인
    block content

