<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ("includes/head.ejs") %>
    <style></style>
  </head>

  <body>
    <%- include ("includes/header.ejs") %>
    <section class="main">
      <article><%- include("food/fd_list.ejs") %></article>
    </section>
    <%- include ("includes/footer.ejs") %>
  </body>
</html>
