.student {
  width: 95%;
  margin: 10px auto;
  border: 1px solid #bbb;
}
/* studnet 와 input class 가 적용된 article */

article.student.input {
  text-align: center;
}
input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #bbb;
  outline: none;
  border-radius: 5px;
}
input:focus {
  background-color: #ddd;
}
input:hover {
  background-color: #eee;
}
article.student.search form {
  width: 50%;
  text-align: center;
}

article.student.search form input {
  width: 90%;
}
