doctype html
html
head
  title footer
section.footer
  .social
    a(href='#')
      i.fab.fa-instagram
    a(href='#')
      i.fab.fa-twitter
    a(href='#')
      i.fab.fa-instagram
    a(href='#')
      i.fab.fa-facebook
  ul.list
    li
      a(href='#') home1
    li
      a(href='#') 2
    li
      a(href='#') 3
  p.copyright Tiget @ 2022

block content
